@tailwind base;


@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

}

body {
  background-color: #F3F4F8;
  color:#515151;
  direction: rtl;

}
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}



/* .swiper-button-prev {
width: 50px !important;
height:60px !important;
margin-left: 10px;
background-color: gray;
filter: blur(1px);
-webkit-filter: blur(1px);
}

.swiper-button-next{
  width: 50px !important;
height:60px !important;
  background-color: gray;

} */