@tailwind base;


@tailwind components;
@tailwind utilities;

@font-face {
  font-family: iransSans;
  src: url("../fonts/woff/IRANSansX-Regular.woff") format("truetype");
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

}

body {
  background-color: #EEEEEE;
  color:#515151;
  direction: rtl;
font-family: iransSans;
}


@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.swiper-slide1 {
  width:140px !important;
  /* background-color: blue !important; */
}
/* .swiper-button-next {
  width: 40px;
  background-image: url('../public/icons8-back-arrow-50.png') !important;
  background-repeat: no-repeat;
  background-position: center;
}
.swiper-button-prev {
  width: 40px;
  background-image: url('../public/icons8-next-arrow-50.png') !important;
  background-repeat: no-repeat;
  background-position: center;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  content: "" !important;
} */

/* .swiper-pagination-bullet{
  width: 40px;
  height: 40px;
  background-color: red;
} */